<div class="row">
  <div class="col s0 m1" id="top"></div>
  <div class="col s12 m10 center-align">
    <h3>Witaj w aplikacji do spisywania systemów brydżowych!</h3>
    <h4>Dzięki tej stronie możesz bezproblemowo umieścić swój system licytacyjny w sieci oraz podzielić się nim z kim chcesz!</h4>
  </div>
</div>
<div class="row">
  <div class="col s0 m1"></div>
  <div class="col s12 m10 center-text">
    <div class="row">
      <div class="col s12 m6">

        <div class="card test" id="img1">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imgs/group-list.png">
          </div>
          <div class="card-content light-green lighten-5">
            <span class="card-title activator grey-text text-darken-4">Drużyny<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Drużyny<i class="material-icons right">close</i></span>
            <p>Wybierz jedną z grup, których jesteś członkiem bądź utwórz nową aby podzielić się z innymi swoim systemem.</p>
          </div>
        </div>

        <div class="card test" id="img3">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imgs/system-overview.png">
          </div>
          <div class="card-content light-green lighten-5">
            <span class="card-title activator grey-text text-darken-4">Przegląd Systemu<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Przegląd Systemu<i class="material-icons right">close</i></span>
            <p>Tutaj zobaczysz wszystkie odzywki dotychczas dodane do systemu, posortowane, wraz z opisem oraz danymi pomocniczymi.</p>
          </div>
        </div>

        <div class="card test" id="img5">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imgs/search-results.png">
          </div>
          <div class="card-content light-green lighten-5">
            <span class="card-title activator grey-text text-darken-4">Wyszukaj<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Wyszukaj<i class="material-icons right">close</i></span>
            <p>Oto przykład wyników wyszukiwania. Klikając na nazwę grupy/konwencji, do której należy odzwyka, możesz zamiast tego wyświetlić zawartość danej grupy/konwencji.</p>
          </div>
        </div>

        <div class="card test" id="img7">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imgs/groups.png">
          </div>
          <div class="card-content light-green lighten-5">
            <span class="card-title activator grey-text text-darken-4">Panel Drużyny<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Panel Drużyny<i class="material-icons right">close</i></span>
            <p>W tym panelu możesz zarządzać grupami, których jesteś administratorem. Aby dodać członka do drużyny wystarczy znać jego nazwę.</p>
          </div>
        </div>

      </div>
      <div class="col s0 m6 hide-on-small-only"><br/><br/><br/><br/><br/></div>
      <div class="col s12 m6">

        <div class="card test" id="img2">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imgs/adding-bid.png">
          </div>
          <div class="card-content light-green lighten-5">
            <span class="card-title activator grey-text text-darken-4">Dodaj odzywkę<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Dodaj odzywkę<i class="material-icons right">close</i></span>
            <p>Wszystkie ustalenia możesz łatwo wprowadzić do systemu korzystając z przewidzianych funkcji i udogodnień.</p>
          </div>
        </div>

        <div class="card test" id="img4">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imgs/search.png">
          </div>
          <div class="card-content light-green lighten-5">
            <span class="card-title activator grey-text text-darken-4">Wyszukaj<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Wyszukaj<i class="material-icons right">close</i></span>
            <p>Dzięki opcji wyszukiwania możesz szybko sprawdzić znaczenie danej odzywki bądź odpowiedzi w wybranej przez Ciebie sekwencji.</p>
          </div>
        </div>

        <div class="card test" id="img6">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imgs/edit-bid.png">
          </div>
          <div class="card-content light-green lighten-5">
            <span class="card-title activator grey-text text-darken-4">Edytuj<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Edytuj<i class="material-icons right">close</i></span>
            <p>Klikając na ikonę edycji przy opisie odzywki możesz zmienić znaczenie danej odpowiedzi i/lub grupę/konwencję, do której należy.</p>
          </div>
        </div>

        <div class="card test" id="img8">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="imgs/settings.png">
          </div>
          <div class="card-content light-green lighten-5">
            <span class="card-title activator grey-text text-darken-4">Zarządanie Kontem<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Drużyny<i class="material-icons right">close</i></span>
            <p>W ustawieniach swojego konta możesz dokonać zmiany hasła lub opuścić grupę/drużynę do której należysz.</p>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
